Flask==2.2.5
flask-login
flask-mail
flask-mongoengine
mongoengine
python-dotenv
Werkzeug==2.3.8
itsdangerous
pymongo
dnspython
email-validator
Pillow
python-dateutil
requests
blinker
click
Jinja2
MarkupSafe
six
urllib3
